.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabla-g{
  @extend .flex-col-center;

  background-color: $clig2;
  padding: 2em;
  margin: 1.5em;
  border-radius: 30px;

  .agregar-datos {
    width: 95%;
    display: flex;
    justify-content: space-between;
    div {
      @extend .flex-col-center;
    }
  }
  button {
    width: 80px;
    border: none;
    //margin: 0 auto;
  }
  select {
    width: 176px;
  }
  p {
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 0;
  }

  table{
    margin: 0;
    tbody {
      td {
        button {
          width: 1.8em;
          height: 1.8em;
          border-radius: 50%;
          border: none;
          background-color: $cligt;
        }
        button:hover {
          color: $cligt;
          background-color: $color;
        }
        button:disabled {
          color: $cligt;
          background-color: $clig2;
        }
        min-width: 20px;
        //width: 100%;
        max-width: 120px;
        input {
          width: 100%;
          min-width: 30px;
        }
      }
    }
  }
}



